$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 1180px
);

@import "../bootstrap/scss/bootstrap";
a{
	&:hover{
		color: red !important;
	}
}
.logo{
	position: absolute;
	z-index: 100;
	top: .5em;
}

.navbar{
	height: 90px;
	background-color: #fff;
	z-index: 1;
	.navbar-collapse{
		background-color: #fff;
		border-radius: 0 0 5px 5px; 
	}
	.form-control{
		border: none;
		display: none;
	}

	.btn{
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../images/magnifying-glass.png);
		background-color: transparent;
		height:1.5em;
		width: 1.5em;
		border: none;
	}
}
.carousel-item{
	background-image: url(../images/bg.jpg);
}

.row{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	flex-wrap: nowrap;
	.btn{
		border-radius: 3em;
		height: 3.75em;
		width: 13.75em;
	}
	h2{
		font-size: 3em;
	}
	.img{
		object-fit: contain;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.container{
		margin: 0;
		padding: 0;
	}
	.navbar{
		padding: .5rem 0;
		.navbar-collapse{
			padding:0 1rem;
		}
		.nav-item{
			height:3rem;
			font-size: 1.5rem;
		}
	}
	.img{
			// width: 70%;
			// object-fit: none;
		}
}